<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <!-- Dimitri Toonen -->
        <add allowed="true" ipAddress="62.45.21.26" subnetMask="255.255.0.0" />

        <!-- Jack Vink -->
        <add allowed="true" ipAddress="94.209.218.40" subnetMask="255.255.0.0" />
      </ipSecurity>
    </security>

    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />

      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
