<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <!-- Dimitri Toonen -->
        <add allowed="true" ipAddress="62.45.21.26" subnetMask="255.255.0.0" />
        
        <!-- Julien Segeren -->
        <add allowed="true" ipAddress="77.163.241.173" subnetMask="255.255.0.0" />

        <!-- Jack Vink -->
        <add allowed="true" ipAddress="94.209.218.40" subnetMask="255.255.0.0" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
