<div class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.nickName">
        <input data-bind="value: registration.nickName, qtipValMessage: registration.nickName" class="form-control"
               type="text" placeholder="Nick name" id="NickNameTextbox" />
        <span id="NickNameTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 center-block">
        <profile-image-upload id="test1" params="identifier: 1,
            profileImage: registration.profileImage1,
            profileImageCrop: registration.profileImage1Crop"></profile-image-upload>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-xs-12">
        <b>Sex</b>
    </div>
    <div class="col-xs-6 top-buffer">
        <div class="row">
            <div class="col-xs-12">
                <input type="radio" id="wizardGenderMale" name="sex" value="Male"
                       data-bind="checked: registration.gender" />
                <label class="pull-down" for="wizardGenderMale">Male</label>
            </div>
            <div class="col-xs-12">
                <input type="radio" id="wizardGenderFemale" name="sex" value="Female"
                       data-bind="checked: registration.gender" />
                <label for="wizardGenderFemale">Female</label>
            </div>
        </div>
    </div>
    <div class="col-xs-6 top-buffer">
        <span id="GenderIcon" class="pull-right" data-bind="css: CurrentGenderIcon"></span>
    </div>
</div>


<p></p>

<p></p>
<div class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.city">
        <input data-bind="value: registration.city, qtipValMessage: registration.city" class="form-control"
               id="wizardCityTextbox" placeholder="City" type="text" />
        <span id="wizardCityTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>

<p></p>
<div class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.age">
        <input data-bind="value: registration.age, qtipValMessage: registration.age" class="form-control"
               type="text" id="wizardAgeTextbox" placeholder="Age" />
        <span id="wizardAgeTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <b>Interested in?</b>
    </div>
    <div class="col-xs-6 top-buffer">
        <div class="row">
            <div class="col-xs-12">
                <input type="radio" id="wizardInterstedInMale" name="InterestedIn" value="Male"
                       data-bind="checked: registration.interestedIn" />
                <label class="pull-down" for="wizardInterstedInMale">Male</label>
            </div>
            <div class="col-xs-12">
                <input type="radio" id="wizardInterstedInFemale" name="InterestedIn" value="Female"
                       data-bind="checked: registration.interestedIn" />
                <label for="wizardInterstedInFemale">Female</label>
            </div>
            <div class="col-xs-12">
                <input type="radio" id="wizardInterestedInFemale" name="InterestedIn" value="Both"
                       data-bind="checked: registration.interestedIn" />
                <label for="wizardInterestedInFemale">Both</label>
            </div>
        </div>
    </div>
    <div class="col-xs-6 top-buffer">
        <div id="wizardGenderIcon" class="pull-right pull-down" data-bind="css: CurrentInterestedInIcon" />
    </div>
</div>