<table id="loginBar">
    <tr>
        <td colspan="2">
            <input class="form-control input-sm" type="text" id="emailTextbox"
                placeholder="Enter Username" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input class="form-control input-sm" type="password" id="passwordTextbox"
                placeholder="Enter password" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="keepMyLoggedInCheckBox">
                <input type="checkbox" id="keepMyLoggedInCheckBox" />
                Keep me logged in
            </label>
        </td>
        <td><button id="okButton" type="button">Ok</button></td>
    </tr>
</table>