<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chirping-webapi-acceptance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chirping-webapi-acceptance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chirping-webapi__acceptance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chirping-webapi__acceptance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChirpingConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hwsy85jr6q.database.windows.net,1433;Initial Catalog=chirpingdb-acceptance;Integrated Security=False;User ID=dimitritoonen@hwsy85jr6q;Password=&lt;0ven$chotel&gt;;Connect Timeout=30;Encrypt=True" Name="server=tcp:hwsy85jr6q.database.windows.net,1433;Database=chirpingdb-acceptance;User ID=dimitritoonen@hwsy85jr6q;Password=&lt;0ven$chotel&gt;;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chirping.Web.Api.Data.Context.ChirpingContext, Chirping.Web.Api.Data" MigrationConfiguration="Chirping.Web.Api.Data.Migrations.Configuration, Chirping.Web.Api.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChirpingConnectionString-Web.config Connection String">
      <ParameterValue>server=tcp:hwsy85jr6q.database.windows.net,1433;Database=chirpingdb-acceptance;User ID=dimitritoonen@hwsy85jr6q;Password=&lt;0ven$chotel&gt;;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>