<div class="row text-center">
    <div class="col-xs-12">
        <!--<img id="wizard-facebook-button" data-bind="click: registerViaFacebook" src="/images/facebookLogo.jpg" />
        Via facebook-->
        <button class="btn btn-primary btn-facebook">Login with Facebook</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12"><hr /></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="text-center">Register with your e-mail address</p>
    </div>
</div>
<div id="test" class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.emailAddress">
        <input data-bind="value: registration.emailAddress, qtipValMessage: registration.emailAddress" class="form-control"
               placeholder="E-mail" type="text" id="wizardEmailTextbox" />
        <span id="wizardEmailTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>
<div class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.confirmEmail">
        <input data-bind="value: registration.confirmEmail, qtipValMessage: registration.confirmEmail" class="form-control"
               placeholder="Confirm e-mail" type="text" id="wizardEmailConfirmTextbox" />
        <span id="wizardEmailConfirmTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>

<div class="row form-group has-feedback">
    <div class="col-xs-12" data-bind="validationElement: registration.password">
        <input data-bind="value: registration.password, qtipValMessage: registration.password" class="form-control"
               placeholder="password" type="password" id="wizardPasswordTextbox" />
        <span id="wizardPasswordTextboxIcon" class="glyphicon form-control-feedback"></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 center-block text-center">
        <br />
        Already registered? <b><a href="#/login">Click here</a></b>
    </div>
    <div class="col-xs-2"></div>
</div>
