<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <select id="mottoDropdown" class="form-control" data-bind="options: mottoList"></select>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <textarea rows="4" class="form-control" placeholder="Choose a motto" required></textarea>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <p>
            <h3><a href="#Register">Register</a></h3>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>