<!-- full transparent black background -->
<div id="container-component" class="container-wrap show-cursor" data-bind="click: closeViaBackground"></div>

<!-- component container -->

<div class="show-container" data-bind="if: showComponent">
    <div id="selectedComponent" class="component center-block">
        <div id="container-component-close-button" class="pull-right component-container-close-button" data-bind="click: closeSelf">x</div>
        <div class="text-center">
            <h2 data-bind="text: header"></h2>
        </div>
        <div class="component-container-controls" data-bind="component: getActiveComponent()"></div>
    </div>
</div>
