
.header-page {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: url(../../images/backgrounds/background3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size : cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-page-top-beam {
    z-index:0;
    width:70%;
    height:75px;
    padding: 0 10px 0 0;
    margin-top: 40px;    
    overflow: hidden;
    background-color: transparent;
}

.intro-header-logo {
    left: 15px;
    float: left;    
    font-size: x-large;
    color:white;
    text-align:center;
}


.intro-page-content {
    width: 100%;
    font-weight:100;    
    color:white;
}


.intro-header {
    padding-bottom: 1rem;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -2px;
}

.intro-header-text {
    max-width: 850px;
    font-size: 1.5em;
    font-weight: 200;
    text-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
