body, html {
    background: url(../../images/backgrounds/background3.jpg) no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size : cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-page-top-beam {
    z-index:0;  
    padding: 0px 10px 0px 0px;
    position:absolute;
    line-height: 75px;
    width:100%;
    height:75px;
    background-color: transparent;
}

.intro-page-content {
    font-weight:100;
    width: 100%;
    position: absolute;
    top: 100px;
    color:white;
}

.header-text {
    max-width:1000px;
}