@import "../variables";

/*
    Defines the styles for the workspace page
*/

.page-wrap {
    background-color: @workspace-bg;
    width:100%;
    float:left;
    overflow: hidden;
}

.workspace-content {
    background-color: @workspace-main-bg;
    height: 100vh;
    overflow: hidden;
    margin-top: 10px;
}

.workspace-logo {
    margin-top: 10px;
    font-size: x-large;
    color:white;
}

.workspace-content-page {
    margin: 0px 20px 0px 20px;
}


.workspace-component {
    height: 100vh;
    width: 230px;
}

.workspace-component.left {
    background-color: @workspace-left-bg;
    float: left;
}

.workspace-component.right {
    background-color: @workspace-right-bg;
    float: right;
}


/* */
.workspace-container {
    background-color: @grey-background;
    border: 1px solid @grey-background-darker;
    border-radius: 4px;
}

.workspace-container:hover {
    .box-shadow(0 0 0 1px @blue-light);
}


.workspace-container-wrap {
    margin: 10px;
}