<div id="wizardStep1" class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <img src="/images/facebookLogo.jpg" />
            Via facebook
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr />
            <p class="text-center">Register with your e-mail address</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p>
                <input data-bind="value: emailAddress" class="form-control" placeholder="E-mail" type="text" id="emailTextbox" />
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p><input class="form-control" placeholder="Confirm e-mail" type="text" id="emailConfirmTextbox" /></p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p><input data-bind="value: password" class="form-control" placeholder="password" type="password" id="password" /></p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            Already registered? <b><a href="#" data-bind="click: function () { clickedEvent(); }">Click here</a></b>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <strong data-bind="text: result"></strong>
            <button data-bind="click: callApi">Call api</button>
            <button data-bind="click: registerUser" id="submitButton">Ok</button>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
