<div class="row text-center">
    <div class="col-xs-12">
        <img id="facebookButton" data-bind="click: registerViaFacebook" src="/images/facebookLogo.jpg" />
        Via facebook
    </div>
</div>
<div class="row">
    <div class="col-xs-12"><hr /></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="text-center">Register with your e-mail address</p>
    </div>
</div>
<div class="row form-group" id="emailAddressGroup">
    <div class="col-xs-12" id="emailAddressHeader" data-bind="validationElement: emailAddress">
        <input data-bind="value: emailAddress" class="form-control" placeholder="E-mail"
                   type="text" id="emailTextbox" />
        <label class="control-label" for="emailTextbox" data-bind="validationMessage: emailAddress"></label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group" data-bind="validationElement: emailConfirmTextbox">
        <input class="form-control" placeholder="Confirm e-mail" data-bind="value: confirmEmail"
               type="text" id="emailConfirmTextbox" />
        <label class="control-label" for="emailConfirmTextbox" data-bind="validationMessage: confirmEmail"></label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><input data-bind="value: password" class="form-control" placeholder="password" type="password" id="password" /></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 center-block text-center">
        <br />
        Already registered? <b><a href="#">Click here</a></b>
    </div>
    <div class="col-xs-2"></div>
</div>
<!--<div class="container hide">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <strong data-bind="text: result"></strong>
            <button data-bind="click: callApi">Call api</button>
            <button data-bind="click: registerUser" id="submitButton">Ok</button>
            <button data-bind="click: logOut" id="submitButton">Logout</button>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>-->
