<div id="header">
    <div id="logo"></div>
    <div id="baselineComponents">
        <div id="leftComponent" class="pull-left text-right">
            <h2 class="you">You</h2>
            <user-bar id="Userbar"></user-bar>
        </div>
        <div id="rightComponent" class="pull-right">
            <h2>Login</h2>
            <login-bar id="loginBar"></login-bar>
        </div>
    </div>
    <div id="beam-backGround">
        <div id="beam-blue"></div>
        <div id="beam-red"></div>
    </div>
</div>
<div id="page" data-bind="component: { name: route().page, params: route() }"></div>