<div id="beginPage">
    <div id="introPage" class="container fixed-container">
        <p> 
            <div class="row">
                <div class="col-xs-6">
                    <h3>Chart mogul</h3>
                    <hr />
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
                </div>
                <div class="col-xs-6">
                    <div class="introImageSquare happyCouple1 center-block"></div>
                </div>
            </div>
        </p>
        <br />
        <p>
            <div class="row">
                <div class="col-xs-6">
                    <div class="introImageSquare happyCouple2 center-block"></div>
                </div>
                <div class="col-xs-6">
                    <h3>Chart mogul</h3>
                    <hr />
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
                </div>
            </div>
        </p>
    </div>
</div>