<div class="navbar navbar-default workspace-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-bind="css: { active: route().page === 'dashboard-page' }">
                    <a href="#Dashboard">dashboard</a>
                </li>
                <li data-bind="css: { active: route().page === 'activities-page' }">
                    <a href="#Activities">activities</a>
                </li>
                <li data-bind="css: { active: route().page === 'notifications-page' }">
                    <a href="#Notifications">notifications</a>
                </li>
                <li data-bind="css: { active: route().page === 'contacts-page' }">
                    <a href="#Contact">contacts</a>
                </li>
            </ul>
            <div class="navbar-form navbar-right" role="search">
                <div class="form-group workspace-search">
                    <input type="text" class="form-control input-sm workspace-search-input" placeholder="search activities" />
                </div>
            </div>
        </div>
    </div>
</div>
