<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <sources>

    <source name="Account" xdt:Locator="Match(name)">
      <listeners>
        <add name="WebPageTraceListener" xdt:Transform="Remove" xdt:Locator="Condition(@name='WebPageTraceListener')" />
      </listeners>
    </source>

    <source name="Global" xdt:Locator="Match(name)">
      <listeners>
        <add name="WebPageTraceListener" xdt:Transform="Remove" xdt:Locator="Condition(@name='WebPageTraceListener')" />
      </listeners>
    </source>
  </sources>

  <trace>
    <listeners>
      <add name="WebPageTraceListener" xdt:Transform="Remove" xdt:Locator="Condition(@name='WebPageTraceListener')" />
    </listeners>
  </trace>

  <sharedListeners>
    <add name="WebPageTraceListener" xdt:Transform="Remove" xdt:Locator="Condition(@name='WebPageTraceListener')" />
  </sharedListeners>
</system.diagnostics>