<div class="unregistered-container-controls center-block">
    <div class="text-center"><h3>Register</h3></div>
    <div class="row"><br /></div>
    <div class="row">
        <div id="wizardIndication" data-bind="css: currentStepImage" class="progress-image center-block"><h4></h4></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <hr>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <div class="pull-right" data-bind="click: PreviousStep, visible: currentStep() > 2" id="wizardLeftArrow"></div>
        </div>
        <div class="col-xs-10 center-block">
            <div id="wizardStep" data-bind="component: { name: currentWizardStep, params: { registration: registration } }"></div>
        </div>
        <div class="col-xs-1">
            <div class="pull-left" data-bind="click: NextStep, visible: currentStep() < 3" id="wizardRightArrow"></div>
        </div>
    </div>
    <div id="registrationRegisterButton" data-bind="visible: currentStep() == 3" class="row">
        <div class="col-xs-12 text-center">
            <p>
                <h3><a data-bind="click: RegisterUser">Register</a></h3>
            </p>
        </div>
    </div>
</div>