<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Chirping.Web.Api.Common\packages.config" />
  <repository path="..\src\Chirping.Web.Api.Data.Tests\packages.config" />
  <repository path="..\src\Chirping.Web.Api.Data\packages.config" />
  <repository path="..\src\Chirping.Web.Api.Domain.Tests\packages.config" />
  <repository path="..\src\Chirping.Web.Api.Security\packages.config" />
  <repository path="..\src\Chirping.Web.Api.Tests\packages.config" />
  <repository path="..\src\Chirping.Web.Api\packages.config" />
</repositories>