<table id="loginBar">
    <tr>
        <td colspan="2">
            <input data-bind="value: userName" class="form-control input-sm" type="text" id="loginEmailTextbox"
                placeholder="Enter Username" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input data-bind="value: password" class="form-control input-sm" type="password" id="loginPasswordTextbox"
                   placeholder="Enter password" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="keepMyLoggedInCheckBox">
                <input type="checkbox" id="keepMyLoggedInCheckBox" />
                Keep me logged in
            </label>
        </td>
        <td><button data-bind="click: login" id="LoginButton" type="button">Ok</button></td>
    </tr>
</table>
<strong data-="text: result"></strong>