<div id="login-container">
    <div class="text-center">
        <button class="btn btn-primary btn-block" data-bind="click: logonToFacebook">
            <i class="fa fa-facebook fa-lg fa-fw fa-line-height pull-left"></i>Login with Facebook
        </button>
    </div>
    <br />
    <p class="text-center" data-bind="visible: !showErrorBox()">or</p>
    <div id="errorComponent" data-bind="visible: showErrorBox, component: getErrorBox()"></div>
    <div class="inner-addon right-addon">
        <i class="fa fa-lg fa-envelope-o icon-lighter"></i>
        <input type="text" id="username" data-bind="value: username, invokeOnEnter: { funct: login }" class="form-control" placeholder="Username" />
    </div>
    <div id="login-spinner" class="login-loader text-center hide">
        <i class="fa fa-spinner fa-4x spin icon-lighter"></i>
        <br /><br />
        logging in...
    </div>
    <br />
    <div class="inner-addon right-addon">
        <i class="fa fa-lg fa-key icon-lighter"></i>
        <input type="password" id="password" data-bind="value: password, invokeOnEnter: { funct: login }" class="form-control" placeholder="Password" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="stayLoggedIn" /> stay logged in?
        </label>
    </div>
    <br />
    <div>
        <button data-bind="click: login" class="btn btn-primary">Login</button>
    </div>
    <div>
        <br />
        <a data-bind="click: function() { showForgotPasswordComponent() }">Are you unable to login?</a>
    </div>
</div>