@import "../variables";


/* defines the syle for the user-components */
#rightComponent {
    width: 42%;
}
 
#leftComponent {
    width: 43%;
}

#userComponent {
    width:100%;
    height:120px;
    position:relative;
}

    #userComponent.right {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    #userComponent.left {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

.male-theme {
}

.female-theme {
    background-color: #f75455;
}



#registration {
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

    #registerButton {
        background-color: #bd0012;
        color: white;
        border:0px;
        height:60px;
        width:200px;
        text-align: right;
        padding-right:50px;
        border-left: solid 40px #ee1730;
        border-top-left-radius: 5px;
    }

        #registerButton:hover {
            background-color: #ee1730;
        }

        #registerButton:active {
            background-color: #79000c;
        }

.floatBottom {
    margin: auto;
    position: absolute;
    top: 1; left: 0; bottom: 0; right: 0;
    padding-bottom:5px;
    padding-right:30px;
    font-size:small;
    color:white;
}

#facebookButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.full-width {
    width:100%;
}

.full-height {
    height: 100%;
}


.register-bar-nav {
    opacity: 0.75;
    cursor: pointer;
    position:relative;
    top:95px;
}

.register-bar-nav.left {
    left:8px;
}

.register-bar-nav.right {
    right:8px;
}



#wizardIndication.progress-image {
    background-repeat: no-repeat;
    width: 64px;
    height: 27px;
}

#wizardIndication.image-step1 {
    background-image: url(/images/wizardStep1.svg);
}
#wizardIndication.image-step1.no-svg {
    background-image: url(/images/wizardStep1.png);
}

#wizardIndication.image-step2 {
    background-image: url(/images/wizardStep2.svg);
}
#wizardIndication.image-step2.no-svg {
    background-image: url(/images/wizardStep1.png);
}

#wizardIndication.image-step3 {
    background-image: url(/images/wizardStep3.svg);
}
#wizardIndication.image-step1.no-svg {
    background-image: url(/images/wizardStep3.png);
}

.gender-male-icon {
    background-image: url('../images/maleSign.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 56px;
}
.gender-male-icon.no-svg {
    background-image: url('../images/maleSign.png');
    width: 40px;
    height: 56px;
}

.gender-female-icon {
    background-image: url('../images/femaleSign.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 56px;
}
.gender-female-icon.no-svg {
    background-image: url('../images/femaleSign.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 56px;
}

.gender-both-icon {
    background-image: url('../images/bothSign.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 56px;
}
.gender-both-icon.no-svg {
    background-image: url('../images/bothSign.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 56px;
}

.empty-profile-image-small {
    background-image: url('../images/emptyProfileSmall.jpg');
    background-repeat: no-repeat;
    padding: 2px;
    width: 75px;
    height: 91px;
}




.wizard-profileImage:hover {
    background-image: url('../images/emptyProfileSmalls-selected.jpg');
    cursor: pointer;
}

.wizard-profile-image-thumb {
    position:relative;
    z-index:120;
    left: 1px;
    top: -64px;
    width: 67px;
    height: 67px;
    border: none;
    padding: 0px;
}


.loading-icon-background {
    position:relative;
    top: 3px;
    left: 1px;
    width: 67px;
    height: 67px;
    background: white;
    opacity: 0.75;
}


.loading-icon {
    background: url('../images/loading.png') repeat 0 0;
    z-index: 121;
    top: 10px;
    left: 9px;
    position: relative;
    width:50px;
    height:50px;
}

.loading-icon-animation {
    -webkit-animation: rotateThis 1s infinite linear;
    animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation:  rotateThis 1s infinite linear;
}

@-webkit-keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-moz-keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-o-keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}