<div id="change-password-component">
    <p>
        Enter a new password for <b data-bind="text: emailAddress"></b>.
        <br />We highly recommend you to create a new password.
    </p>
    <br />
    <div class="row form-group has-feedback">
        <div class="col-xs-12" data-bind="validationElement: newPassword">
            <input data-bind="value: newPassword, qtipValMessage: newPassword" class="form-control"
                   placeholder="New password" type="password" id="newPassword" />
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>
    <div class="row form-group has-feedback">
        <div class="col-xs-12" data-bind="validationElement: confirmNewPassword">
            <input data-bind="value: confirmNewPassword, qtipValMessage: confirmNewPassword, invokeOnEnter: { funct: updatePassword }" class="form-control"
                   placeholder="Confirm new password" type="password" id="confirmNewPassword" />
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>
    <div id="error-message-container" data-bind="visible: showErrorBox">
        <div class="bg-danger text-center error-box">
            <p>
                <b>Something went wrong</b>
                <br /><br />
                Something went wrong.  It could be that this code has already been used for resetting your password.
                Please try to reset your password again by requesting an email again <a data-bind="click: showForgotPassword">here</a>
            </p>
        </div>
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-danger" data-bind="click: updatePassword">Change password</button>
    </div>
</div>