/* General css styles */

h1, h2, h3, h4, h5, h6 {
    display:inline;
}

hr {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
  border: 0;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

.hide-visibility {
    visibility: hidden;
}

.show-visibility {
    visibility: visible;
}

.logo-text {
    position:absolute;
    left: 15px;
    font-size: x-large;
    color:white;
    text-align:center;
}
