@import "../bower_modules/bootstrap/less/variables.less";
@import "../bower_modules/bootstrap/less/mixins.less";

//
// Variables
//

// Colors used through Chirping
@blue-dark: darken(@blue, 10%);
@blue: #2f6ea2;
@blue-light: lighten(@blue, 30%);


// Defines the grey color used for the backgrounds
@grey-background-dark: darken(@grey-background, 5%);
@grey-background: #F4F4F4;
@grey-background-light: lighten(@grey-background, 30%);
