<div id="component">
    <h2 class="text-center">Reset password</h2>
    <br /><br />
    <p>
        You forgot you password eh.. Well, ok then. Type in your e-mail address below to send an e-mail and reset your password.
    </p>
    <div class="form-group has-feedback" data-bind="validationElement: EmailAddress">
        <input type="text" id="emailAddress" placeholder="E-mail" class="form-control"
                data-bind="value: EmailAddress, qtipValMessage: EmailAddress, invokeOnEnter: { funct: SendResetPasswordLink }" />
        <span id="usernameIcon" class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-danger" data-bind="click: SendResetPasswordLink">Send link</button>
    </div>
    <br />
    <div>
        Remembered your password?&nbsp;<a data-bind="click: showLoginComponent">Login here!</a><br />
        <a data-bind="click: showRegisterComponent">Not yet registered</a>
    </div>
</div>