<div class="unregistered-container-small center-block">
    <div class="unregistered-container-controls center-block fadeInDown">
        <h2 class="text-center">Reset password</h2>
        <br /><br />
        <p>
            You forgot you password eh.. Well, ok then. Type in your e-mail address below to send an e-mail and reset your password.
        </p>
        <div class="form-group has-feedback">
            <input type="text" id="emailAddress" placeholder="E-mail" class="form-control" />
            <span id="usernameIcon" class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-danger">Send link</button>
        </div>
    </div>
</div>