@import "../../variables";
@import "../../../bower_modules/bootstrap/less/responsive-utilities.less";
@import "../../vendor/viewpoints/screen-ms.less";
@import "../../vendor/viewpoints/screen-workspace-left.less";
@import "../../vendor/viewpoints/screen-workspace-navbar.less";


/*
    Defines the styles for the navbar on the workspace
*/

.workspace-navbar {
    overflow: hidden;
}

.workspace-navbar.left {
    float: left;
}

.workspace-navbar.right {
    overflow:visible;
    float:right;
}



.workspace-search-input {
    width:100% !important;
}

.workspace-navbar-item-text {
    
    @media (max-width: @screen-workspace-navbar-max) {
        display: inline-block;
        padding-left:30px;
    }
}

.workspace-navbar-dropdown-text {
    display: inline-block;
    padding-left: 15px;
}