<div id="wizardProgress" class="container fixed-container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><h4>Register</h4></div>
        <div class="col-xs-4">
            <div id="wizardIndication" data-bind="css: currentStepImage" class="progress-image center-block"><h4></h4></div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <hr>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<div id="wizardSteps" class="container fixed-container">
    <div class="row">
        <div class="col-xs-2">
            <div class="pull-right" data-bind="click: PreviousStep, visible: currentStep() > 1" id="wizardLeftArrow"></div>
        </div>
        <div class="col-xs-8 center-block">
            <div id="wizardStep" data-bind="component: { name: currentWizardStep, params: { registration: registration } }"></div>
        </div>
        <div class="col-xs-2">
            <div class="pull-left" data-bind="click: NextStep, visible: currentStep() < 3" id="wizardRightArrow"></div>
        </div>
    </div>
</div>
