@import "../../../../variables.less";
@import "../../../../vendor/viewpoints/screen-ms.less";

/*
    Defines the styles for the activity controls
*/

.workspace {
    &.controls {
        background-color: @grey-background;

        @media (min-width: @screen-sm) {
            border: 1px solid @grey-background-darker;
            border-radius: @border-radius-base;
            margin-bottom: 10px;
        }

        @media (max-width: @screen-sm) {
            position: fixed;
            bottom:0;
            z-index: 10;
            min-width: 100% !important;
            border-top: 1px solid @grey-background-darker;
        }

        >.buttons {
            @media (min-width: @screen-sm) { 
                padding: 10px 10px 32px 10px;
                min-height: 65px;
            }

            @media (max-width: @screen-sm) { 
                padding: 10px 10px 10px 0;
                height: 50px;
                border-bottom: 1px solid @grey-background-darker;
                margin: 0 20px 0 20px;
            }
            
                
            display: block;
            text-align:center;

            .text { height: 100%; line-height: 25px; }

            .button { 
                cursor: pointer; color: @blue-light;

                &.large {
                    min-width: 80px;
                    margin-left: 20px;
                    float: left;

                    &.first {
                        @media (min-width: @screen-md) {
                            margin-left: 0px !important;
                        }
                    }
                }
            }
            .button:hover { color: @blue !important; }

            // show filter icons when on tablet and smaller
            .icon { color: @blue-light; cursor: pointer; }
            .icon:hover { color: @blue;}

            >.small {
                padding-left: 10px;
                text-align: justify;
                width: 100%;
            }
            >.small > i { display: inline-block; }
            >.small:after {
                content: ' ';
                display: inline-block;
                width: 100%;
            }
        } // buttons
    } // controls
}